/* Mobile First */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Roboto: 'Roboto', sans-serif;
    --Spectral: 'Spectral', serif;
    --QuickSand: 'Quicksand', sans-serif;
    --Forum: 'Forum', serif;
}

.container {
    padding: 10px;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.2);
}

/* ~~~~~~~~~~Chapter 1~~~~~~~~~~ */
/* ~~~~~~~~~~Phase 1~~~~~~~~~~ */

body .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero_container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.hero .column1 {
    width: 100%;
    height: 40%;
}

.column1 .area1 {
    width: 100%;
    height: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid indigo;
    border-radius: 10px;
    background-color: indigo;
    opacity: .9;
    text-align: center;
    color: white;
}

.p_font {
    font-family: var(--QuickSand);
}

.h1 {
    padding-top: 20px;
}

/* ~~~~~~~~~~Phase 2~~~~~~~~~~ */

.hero .column2 {
    width: 100%;
    height: 25%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid ivory;
    border-radius: 10px;
    background-color: ivory;
}

.column2 .area1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area1 img {
    width: 100%;
    height: 100%;
}

.column2 .area2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area2 p {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--Forum);
}

/* ~~~~~~~~~~Phase 3~~~~~~~~~~ */

.hero .column3 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 181, 53);
}

.column3 .area1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area1 p {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--Spectral);
}

.column3 .area2 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.area2 img {
    position: absolute;
    width: 180px;
    height: 110px;
    top: 50px;
    left: 10px;
}

/* ~~~~~~~~~~Chapter 2~~~~~~~~~~ */

/* ~~~~~~~~~~Phase 1~~~~~~~~~~ */

.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section .section_container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section .schedule_bar1 {
    width: 100%;
    height: 65%;
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.5);
}

.schedule_bar1 .schedule_text {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.schedule_text h1 {
    font-family: var(--Roboto);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.schedule_bar1 .schedule_img {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.schedule_img img {
    width: 100%;
    height: 100%;
}

.schedule_bar1 .schedule_text2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.schedule_text2 p {
    font-family: var(--QuickSand);
    font-weight: 500;
    font-size: 13px;
}

/* ~~~~~~~~~~Phase 2~~~~~~~~~~ */

.section .schedule_bar2 {
    width: 100%;
    height: 35%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
}

@media screen and (min-width: 500px) {
    .section .schedule_bar2 {
        background-color: red;
    }

}